
%copyright
  \© Google Map Appllication #{Time.now.year}
%nav
  %ul
    %li= link_to "About",   root_path
    %li= link_to "Contact", root_path
    %li
      %a{:href => "http://news.railstutorial.org/"} News