- users_count = @users.present? ? @users.size : 0

%ul.nav.navbar-nav

  %li= link_to "Home(#{users_count})", root_path,class:'navbar-brand','data-turbolinks':false
  - unless current_user
    %li=# link_to 'About us', '#',class:'navbar-brand'
    %li= link_to 'Sign up', new_user_registration_path,class:'navbar-brand float-xs-right'
    %li= link_to 'Sign in', new_user_session_path,class:'navbar-brand float-xs-right'
  - else
    %li= link_to 'Sing out', destroy_user_session_path, method:'delete',class:'navbar-brand float-xs-right'
