.row
  .col-md-12.top40
    %h1.text-xs-center Welcome to Google Map Application
  
.map-container
  .row#map 
.ct-btn.text-xs-center= button_tag "click here to Zoom/Pan on & off",id:'ct-btn',class:'btn btn-primary'

- content_for :javascript do
  :javascript
    var data = #{@data}



