#map {
	height: 400px;
	padding-top: 20px;
	pointer-events: none;
}

.ct-btn {
	padding-top: 20px;
}

.map-container #map {
	width: 100%;
	display: block;
	
	
}

.map-container #map.clicked{
	pointer-events: auto;
}

.top40 { margin-top:40px; }

@import "bootstrap"

