!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Google Map Application"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Google Map Application"}", :name => "description"}/
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.secrets.google_map_key}"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :javascript

  %body{:class => "#{controller_name} #{action_name}"}
    .container  
      %nav.navbar.navbar-dark.bg-inverse= render 'shared/header'
      = render 'layouts/messages'
      = yield
      

