.top40.col-md-6.col-md-offset-3
  %h2 Sign up
  = form_for(resource, as: resource_name, :url=>{:controller=>"registrations",:action=>"create"}) do |f|
    = devise_error_messages!
    .field
      = f.label :Address
      %br/
      = f.text_field :address, autofocus: true,placeholder:'City, Country'

    .field
      = f.label :avatar
      %br/
      = f.file_field :avatar

    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .field
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Sign up"
  =# render "users/shared/links"
